<!DOCTYPE html>
<html>

<head>
    <title>ಕನ್ನಡ</title>
</head>

<br><br>

<style>
    body {
        background-image: url('static/901011.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    textarea {
        overflow: hidden;
}
</style>

<body style="background-image: url('static/901011.jpg')">
    <center>
        <font face="courier" color="white">
            <p id="try">Input text here</p>
            <p id="try">ಕನ್ನಡ ಪಠ್ಯವನ್ನು ಟೈಪ್ ಮಾಡಲು (To type Kannada text) : <br>
                <a href="https://kannada.changathi.com/" target="_blank">Click here</a>
            </p>
            <textarea name="Text1" cols= "40" onkeyup="autoheight(this)" id="testinput"></textarea>
            <br><br>
            <button id="btn1" class="button" value="identify" onclick="passParam(document.getElementById('testinput').value)">Play </button><br><br>
            <body onload="init()">
                <input id="fileInput" type="file" name="file" />
            </body>
            <br><br><br>
            <button id="btn2" class="button" value="identify" onclick="window.location.href = 'http://127.0.0.1:5000';">Reset</button><br><br>
            <h2 id="id2"></h2>
            <script>
                function init() {
                    document.getElementById('fileInput').addEventListener('change', handleFileSelect, false);
                }

                function autoheight(x) {
                    x.style.height = "10px";
                    x.style.height = (15+x.scrollHeight)+"px";
                }

                function handleFileSelect(event) {
                    const reader = new FileReader()
                    reader.onload = handleFileLoad;
                    reader.readAsText(event.target.files[0])
                }

                function handleFileLoad(event) {
                    console.log(event);
                    document.getElementById('id2').textContent = passParam(event.target.result);
                }

                function passParam(testinput) {

                    var http = new XMLHttpRequest();
                    var url = 'http://127.0.0.1:5000/submit';
                    var params = `testinput=${testinput}`;
                    http.open('POST', url, true);

                    //Send the proper header information along with the request
                    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                    http.onreadystatechange = function() { //Call a function when the state changes.
                        if (http.readyState == 4 && http.status == 200) {
                            document.getElementById('id2').innerHTML = http.responseText;
                        }
                    }
                    http.send(params);
                }
            </script>
        </font>
    </center>
</body>

</html>